{% extends "layout.html" %} {% block content %}

<nav class="navbar is-white topNav">
    <div class="container">

        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/dashboard">
                    Home
                </a>
            </div>
        </div>
    </div>
</nav>
<section class="container">
    <div class="columns">
        <div class="column is-3">
            <a id="modal-button" class="button is-primary is-block is-alt is-large" href="#">New Graph</a>
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a>Dashboard</a>
                    </li>
                    <li>
                        <a>Customers</a>
                    </li>
                    <li>
                        <a>Authentication</a>
                    </li>
                    <li>
                        <a>Payments</a>
                    </li>
                    <li>
                        <a>Transfers</a>
                    </li>
                    <li>
                        <a>Balance</a>
                    </li>
                </ul>
            </aside>

        </div>

        <div class="column is-9">
            <div class="box content">
                <article>
                    <div id="container" style="height: 400px; min-width: 310px"></div>
                </article>
            </div>
        </div>

    </div>
</section>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button onclick="closeModal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="modal-form" v-on:submit="sendGraph($event)">
                <div class="field">
                    {{ graphName }}
                    <label class="label">Name</label>
                    <div class="control">
                        <input v-model="graphName" class="input" type="text" placeholder="Graph Name">
                    </div>
                </div>
                <div class="field" v-for="item in allMeasurements">
                    <div class="control">
                        <label class="checkbox">
                            <input v-model="graphSelector" v-bind:value="item" type="checkbox"> {{ item }}
                        </label>
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button onclick="closeModal()" class="button">Cancel</button>
        </footer>
    </div>
</div>


<script>
    var modal = new Vue({
        delimiters: ["(((",")))"],
        el: '#modal-form',
        data: {
            graphName: '',
            graphSelector: [],
            allMeasurements:[]
        },
        methods: {
            sendGraph: function (event) {
                event.preventDefault();
                console.log(this.graphName);
                console.log(this.graphSelector);
                $.ajax({
                    url: '/mapped_graphs',
                    method: 'POST',
                    data: JSON.stringify({
                        'graphName': this.graphName,
                        'graphSelector': this.graphSelector
                    }),
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'JWT ' + sessionStorage.getItem('Token')
                    },
                });
            }
        }
    });


    $('#modal-button').on('click', function () {
        console.log("Modal Button Clicked");
        $('.modal').addClass('is-active')
        $.ajax({
            url: '/get_all_tables',
            method: 'GET',
            contentType: 'application/json',
            headers: {
                'Authorization': 'JWT ' + sessionStorage.getItem('Token')
            },
        }).done(function (data) {
            console.log('data: ', data);
            $.each(data, function (i, value) {
                measurement_name = value['name'];
                modal.graphSelector.push(measurement_name);
                modal.allMeasurements.push(measurement_name);
            });
        });
    });

    var closeModal = function () {
        $('.modal').removeClass('is-active')
    }

    var seriesOptions = [],
        seriesCounter = 0



    /**
     * Create the chart when all data is loaded
     * @returns {undefined}
     */
    function createChart() {
        Highcharts.stockChart('container', {

            rangeSelector: {
                selected: 4
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },

            plotOptions: {
                series: {
                    compare: 'percent',
                    showInNavigator: true
                }
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2,
                split: true
            },

            series: seriesOptions
        });
    }

    var influx_mapper = function (series, data) {
        var _array = [];
        $.each(data, function (i, value) {
            time = value['time'];
            graph_value = value['value'];
            _array.push([time, graph_value])
        });
        series.push(_array)
    }
    $.ajax({
        url: '/graph_data/mem',
        headers: {
            'Content': 'application/json',
            'Authorization': 'JWT ' + sessionStorage.getItem('Token')
        },
        method: 'GET'
    }).done(function (data) {
        _series = [];
        influx_mapper(_series, data['values']);
        seriesOptions = [{
            name: data['name'],
            data: _series[0]
        }]
        createChart();
    }).fail(function (data) {
        console.log('data: ', data);
        console.log("Cannot fetch graph data!");
    });
</script>

{% endblock %}