{% extends "layout.html" %} {% block content %}
<div class="container">
        <section class="is-fullheight">
                <div class="hero-body">
                  <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                      <h3 class="title has-text-grey">Sign Up</h3>
                      <p class="subtitle has-text-grey">Please login to proceed.</p>
                      <div class="box">
                       <form id="form-sign-up" v-on:submit="createUser">
                          <div class="field">
                            <div class="control">
                              <input v-model="email" name="email" class="input is-large" type="email" placeholder="Email" autofocus="">
                            </div>
                          </div>
                          <div class="field">
                            <div class="control">
                              <input v-model="password" name="password" class="input is-large" type="password" placeholder="Password (No Hashing)">
                            </div>
                          </div>
                          
                          <button class="button is-block is-info is-large is-fullwidth">Register</button>
                        </form>
                      </div>
                      <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </section>
</div>
<script>
  new Vue({
    el : "#form-sign-up",
    data:{
      email: '',
      password: ''
    },
    methods: {
      createUser: function(){
        console.log('email: ', this.email);
        console.log('password: ', this.password);
        $.ajax({
          url:'/user_create',
          data : JSON.stringify(data),
          type:'POST',
          contentType:'application/json'
        });
      }
  }});
</script>
{% endblock %}
